html, body, #root {
  height: 100%;
  margin: 0;
}
.app-head{
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}
.question-no{
  font-size: 24px;
}
.question-text{
  font-size: 20px;
  margin: 20px;
}
.option-card{
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.next-question{
  bottom:20px;
  right:20px;
  position:fixed;
  cursor: pointer;
  height:50px;
  width:50px;
}