html, body, #root {
  height: 100%;
  margin: 0;
}
.app-head{
  text-align: center;
  ;
  font-size: 24px;
  
}
.next-question{
  bottom:20px;
  right:20px;
  position:fixed;
  cursor: pointer;
  height:50px;
  width:50px;
}